.sidebar{

    color: var(--color-black);
    padding: 0;
    font-size: smaller;
    
}

.sidebar_item{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    
}

.sidebar_item span {
    align-items: center;
    width: 10em;
}

.sidebar_item img {
    height:5em;
    width: 5em;
    object-fit: scale-down;
}

.cancel {
    outline :none;
    margin: 0;
    padding: 0;
    border: 0;
    appearance: none;
    background-color: inherit;
    max-width: 2rem;
    max-height: 2rem;
    width: auto;
    height: auto;
}
