.menu{
    padding: 10px;
    width: 60vw;
}

.menu ul{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    list-style-type: none;
    width: fit-content;
}

.menu li {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    padding: 5px;
}