.platform{
    height: 100%;
    display: flex;

}

.left_sidebar { 
    align-items: flex-start;  
    width: 15em;
}

.content{
    align-items: flex-end;
}

.content img {
    height:5em;
    width: 5em;
    object-fit: scale-down;
}